USE [master]
GO
/****** Object:  Database [TarifSepetiDB]    Script Date: 29.09.2026 21:34:14 ******/
CREATE DATABASE [TarifSepetiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TarifSepetiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TarifSepetiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TarifSepetiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TarifSepetiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TarifSepetiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TarifSepetiDB]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 29.09.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAdSoyad] [nvarchar](50) NOT NULL,
	[MusteriEmail] [varchar](50) NULL,
	[AktifMi] [bit] NULL,
	[MusteriAdresi] [nvarchar](max) NULL,
 CONSTRAINT [PK__Musteril__7262447115678B8C] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparisler]    Script Date: 29.09.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparisler](
	[SiparisID] [int] IDENTITY(1,1) NOT NULL,
	[SiparisTarihi] [smalldatetime] NULL,
	[MusteriID] [int] NULL,
	[YemekID] [int] NULL,
	[Miktar] [int] NULL,
	[Durumu] [int] NULL,
 CONSTRAINT [PK_Siparisler] PRIMARY KEY CLUSTERED 
(
	[SiparisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yemekler]    Script Date: 29.09.2026 21:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yemekler](
	[YemekID] [int] IDENTITY(1,1) NOT NULL,
	[YemekAdi] [nvarchar](50) NOT NULL,
	[Malzemeler] [nvarchar](500) NOT NULL,
	[Tarifi] [nvarchar](max) NOT NULL,
	[KayitTarihi] [smalldatetime] NOT NULL,
	[Kalorisi] [int] NULL,
	[Fiyat] [int] NULL,
 CONSTRAINT [PK_Yemekler] PRIMARY KEY CLUSTERED 
(
	[YemekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdSoyad], [MusteriEmail], [AktifMi], [MusteriAdresi]) VALUES (9, N'Ahmet Ak', N'aaa@bbb.com', 1, NULL)
INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdSoyad], [MusteriEmail], [AktifMi], [MusteriAdresi]) VALUES (10, N'Korkmaz Ticaret', N'abc@korkmaz.com', 1, NULL)
INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdSoyad], [MusteriEmail], [AktifMi], [MusteriAdresi]) VALUES (11, N'Ayşe Pak', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
SET IDENTITY_INSERT [dbo].[Siparisler] ON 

INSERT [dbo].[Siparisler] ([SiparisID], [SiparisTarihi], [MusteriID], [YemekID], [Miktar], [Durumu]) VALUES (4, CAST(N'2026-09-25T19:49:00' AS SmallDateTime), 9, 1, 5, 1)
INSERT [dbo].[Siparisler] ([SiparisID], [SiparisTarihi], [MusteriID], [YemekID], [Miktar], [Durumu]) VALUES (5, CAST(N'2026-09-24T00:00:00' AS SmallDateTime), 9, 2, 2, 9)
INSERT [dbo].[Siparisler] ([SiparisID], [SiparisTarihi], [MusteriID], [YemekID], [Miktar], [Durumu]) VALUES (6, CAST(N'2025-08-17T00:00:00' AS SmallDateTime), 10, 2, 4, 8)
SET IDENTITY_INSERT [dbo].[Siparisler] OFF
SET IDENTITY_INSERT [dbo].[Yemekler] ON 

INSERT [dbo].[Yemekler] ([YemekID], [YemekAdi], [Malzemeler], [Tarifi], [KayitTarihi], [Kalorisi], [Fiyat]) VALUES (1, N'Menemen', N'Yumurta, Domates, Biber, Soğan', N'fffffffffffff dddddddddd', CAST(N'2026-09-17T00:00:00' AS SmallDateTime), NULL, 150)
INSERT [dbo].[Yemekler] ([YemekID], [YemekAdi], [Malzemeler], [Tarifi], [KayitTarihi], [Kalorisi], [Fiyat]) VALUES (2, N'Kuru Fasülye', N'Fasülye, su, tuz, karabiber, tereyağ', N'fdsfsdfsf', CAST(N'2026-09-18T19:57:00' AS SmallDateTime), 400, 200)
SET IDENTITY_INSERT [dbo].[Yemekler] OFF
ALTER TABLE [dbo].[Musteriler] ADD  CONSTRAINT [DF_Musteriler_AktifMi]  DEFAULT ((0)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Musteriler]
GO
ALTER TABLE [dbo].[Siparisler]  WITH CHECK ADD  CONSTRAINT [FK_Siparisler_Yemekler] FOREIGN KEY([YemekID])
REFERENCES [dbo].[Yemekler] ([YemekID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Siparisler] CHECK CONSTRAINT [FK_Siparisler_Yemekler]
GO
USE [master]
GO
